head {
    background-color: #2F4F4F;
    margin-top: 10vw;
    margin: 30px auto;
    color:whitesmoke

}
body {
  background-color: #DCDCDC;
    margin: 0 auto;
    margin-top: 10vw;
    
    color: #2F4F4F;
    width: 89%;
    height: 1000px;
    padding:0px;
    font-family: fantasy;
    font-size: 20px;
    word-spacing: 4px;
}


nav {
    background-color: #2F4F4F;
    color: white;  
    border-bottom: 5px solid #466995;
    position: fixed;
    width: 86%;
    margin-top: 5px;
    height: 100px;
    text-align: center;
    text-indent: 1em;
    text-transform: capitalize;
    padding: 5px;
  }

  header{
    background-color:#2F4F4F;
    color: white; 
    width: 86%; 
    padding:30px;
    margin:20px;
    align: center;
    }


    #carouselPictureIndicator{
      padding-top: 100px;
      width: 86%:
    }
  

  button {
    background-color: rgb(8, 61, 21);
    color: whitesmoke;
    border-color: rgb(198, 214, 175);
    
    border-radius: 131px;
    
    margin-top: -20px;
    width: 100px;
    height: 50px;
    
  }

  /* .button {
    background-color: rgb(8, 61, 21);
    color: whitesmoke;
    border-color: rgb(198, 214, 175);
    border: 8px solid transparent;
    border-radius: 131px;
    transition: all ls;
    margin-top: -20px;
    width: 100px;
    height: 50px;
    
  } */
  
  .button:hover {
    background: transparent;
    color: rgb(8, 90, 28);
    border: 5px solid  rgb(172, 247, 74);
    background-color: rgb(55, 165, 51)
}

button a{
    color: whitesmoke;
    border: 8px solid transparent;
    color: rgb(172, 247, 74);
    border: 5px  rgb(172, 247, 74);
    transition: all ls;
    cursor: pointer;
    border-radius: 140px;
    background: transparent;
    text-align: center;
    font-size: 8px;
}

button:hover{
  background: transparent;
    color: rgb(8, 90, 28);
    border: 5px solid  rgb(172, 247, 74);
    background-color: rgb(55, 165, 51)
}

.card {
  width: 60%;
  align: center;
}

button a{
  color: whitesmoke;
}



button.Submit{
  background: transparent;
    color: rgb(172, 247, 74);
}

form {
    margin: 10px;
    margin-top: 20px;
    width: 100%;
}

form label {
  display: rgb(172, 247, 74);
  margin: 5px 0
  
}

form input[type="test"],
input [type="email"],
input [type="date"]{
    padding: 20px 0;
    margin: 3px 0;
    width: 100%;
    border-radius: 10px;
    border:2px solid rgb(172, 247, 74);
    border-color: aquamarine

}

a{
 color: white;
 padding:20px; 
 margin: 20px;
}

a:link {
  color: #696969; 
  padding:20px; 
  margin: 20px;
}

a:visited {
  color: #696969; 
  padding:20px; 
  margin: 20px;
}


}
  img {
    margin-top: 20px;
    width: 100%;
}
  ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }

  
  .top {
    color: #DCDCDC;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 250;
    text-transform: uppercase;
    background-color: 	#708090;
    font-weight: 200;
    text-align: center;

  }
  
  h2 {
    color: rgb(25, 179, 158);
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: 150;
    margin: 0 auto 20px auto;
    text-align: center;
  }
  
  h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    
  }

  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    text-align: center;
    color: whitesmoke
  }
  
  footer {
    background-color: #708090;
    color: white;
    text-align: center;
    text-indent: 1em; 
    font-size: 10px;
    padding: 20px;
    margin: 20px;
    border: groove thin white;
    height: 250px;
    width: 1130px;
    color: rgb(172, 247, 74);
  }
  

  #email{
    width: 100%;
    height: 30px;

  }
  #locat{
    width: 30px;
    height: 30px;
  }

  #call{
    width: 30px;
    height: 30px;
  }

  
  div p{
    color:#466995
  }
 
  
  /* <style>

section{
color: black; text-align: center; text-indent: 1em; text-transform:
capitalize; padding:0px; margin: 20px; background-color:white; text-decoration:
none;
}




h1{
color:white;
}
h2{
color: black; text-align: center;
}
article{
border-bottom-style: solid;
}
</style> */